// 添加背景图片
// body {
    //  background: url(/images/background.jpg);// 自己喜欢的图片地址
    //  background-size: cover;
    //  background-repeat: no-repeat;
    //  background-attachment: fixed;
  //    background-position: 100% 100%;
//}

// 修改主体透明度
//.main-inner {
 //     background: #fff;
  //    opacity: 0.8;
//}

// 修改菜单栏透明度
//.header-inner {
 //     opacity: 0.8;
//}